{{#each this}}
<li class="gallery__card" >
<div class="gallery__card_photo">
  <img src="{{webformatURL }}" data-largeImageURL="{{largeImageURL}}" alt="{{tags}}" width="280" height="280"/>

  <div class="stats">
    <p class="stats-item">
      <i class="material-icons">thumb_up</i>
      {{likes}}
    </p>
    <p class="stats-item">
      <i class="material-icons">visibility</i>
      {{views}}
    </p>
    <p class="stats-item">
      <i class="material-icons">comment</i>
      {{comments}}
    </p>
    <p class="stats-item">
      <i class="material-icons">cloud_download</i>
     {{downloads}}
    </p>
  </div>
</div>
</li>
{{/each}}